html {}

:root {
    --interface-color: #711624;
    --background-color: #D9D9D9;
    --active-color: #B12238;
}

body{
    background-color: var(--background-color);
}

.btn {
    margin: 10px 0 0 0;
    background-color: var(--interface-color);
    color: white;
    transition: background-color .3s;
}

.btn:hover{
    color: white;
    background-color: var(--active-color);
}

.wrapper-index, .wrapper-login {
    background-color: white;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: var(--interface-color);
    min-width: 300px;
    margin: 100px 30% 0 30%;
}

.wrapper-index {

}

.wrapper-login {

}

.wrapper-logo{
    margin-top: 10px;
    height: 200px;
}

.navbar-logo{
    margin-right: 10px;
    height: 55px;
}

.form-group{
    align-items: center;
    max-width: 300px;
    margin: 30px auto 0 auto;
}

.navbar {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: var(--interface-color);
}

span {
    color: black;
}

.navbar-text{
    margin-top: 10px;
    margin-right: 20px;
    color: black;
}

/*.active {*/
/*    background-color: var(--active-color);*/
/*}*/

.panel {
    width: 90%;
    height: 80%;
    min-width: 700px;
    overflow: hidden;
    margin: 30px auto 0 auto;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: var(--interface-color);
    background-color: white;
}

.panel-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--interface-color);
    min-width: 180px;
}

.panel-right {
    display: flex;
    justify-content: center;
}

.in-panel-right {
}

/* ------------------------ */
.date-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1600px;
    color: #fff;
}

.date-box .day {
    font-size: 2rem;
}

.date-box .time {
    font-size: 4rem;
    font-weight: bold;
}

.date-box .date {
    font-size: 1.8rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
}

.menu a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-width: 150px;
    height: 30%;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ddd;
    border-radius: 15px;
    transition: background-color .3s;
    margin-bottom: 10px;
    margin-top : 10px;
}

.menu a:hover {
    background-color: var(--active-color);
}

.menu-item i {
    font-size: 6rem;
    margin-bottom: .4em;
}

.menu-item p {
    margin-top: 16px;
    font-size: 2rem;
}

.info-box h3 {
    font-size: 1.5rem;
}

.info-box p {
    font-size: 1rem;
}
/* ------------------------ */

.main-stats h1 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

.main-stats-box {
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--interface-color);
    /*border-color: red;*/
    transition: background-color .3s;
    color: black;
}

.main-stats-box:hover {
    background-color: var(--background-color);
}

.main-stats-box h3 {
    margin-bottom: 1em;
    font-size: 1.6rem;
    font-weight: bold;
}

.main-stats-box p {
    font-size: 1rem;
}

.form-device {
    text-align: left;
}

.device-status {
    border: 2px solid #711624;
    width: 40%;
    text-align: center;
}

.device-status th {
    background-color: #E3304CFF;
    border: 1px solid #711624;
}

.devices-status td {
    border: 1px solid #711624;
}

.device-status tr {
    border: 1px solid #711624;
}

.device-status tr:hover {
  background-color: yellow;
}