html {}

:root {
    --interface-color: #711624;
    --background-color: #D9D9D9;
    --active-color: #B12238;
}

body{
    background-color: var(--background-color);
}

.btn {
    margin: 10px 0 0 0;
    background-color: var(--interface-color);
    color: white;
    transition: background-color .3s;
}

.btn:hover{
    color: white;
    background-color: var(--active-color);
}

.wrapper-index, .wrapper-login {
    background-color: white;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: var(--interface-color);
    min-width: 300px;
    margin: 100px 30% 0 30%;
}

.wrapper-index {

}

.wrapper-login {

}

.form-group{
    align-items: center;
    max-width: 300px;
    margin: 30px auto 0 auto;
}

.navbar {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: var(--interface-color);
}

span {
    color: black;
}

.navbar-text{
    margin-top: 10px;
    margin-right: 20px;
    color: black;
}

/*.active {*/
/*    background-color: var(--active-color);*/
/*}*/

.panel {
    /*align-items: center;*/
    width: 90%;
    height: 80%;
    overflow: hidden;
    margin: 30px auto 0 auto;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: var(--interface-color);
    background-color: white;
}

.panel-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #4B5769;*/
    background-color: var(--interface-color);
}
.panel-right {
    /*background-image: linear-gradient(180deg, rgba(55, 64, 76, 1) 0%, rgba(21, 26, 32, 1) 100%);*/
    /*background-color: white;*/


    /*margin-left: 40px;*/
    /*max-width: 965px;*/

}

/* ------------------------ */
.date-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1600px;
    color: #fff;
}

.date-box .day {
    font-size: 2rem;
}

.date-box .time {
    font-size: 4rem;
    font-weight: bold;
}

.date-box .date {
    font-size: 1.8rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.menu a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ddd;
    border-radius: 15px;
    transition: background-color .3s;
}

.menu a:hover {
    background-color: var(--active-color);
}

.menu-item i {
    font-size: 6rem;
    margin-bottom: .4em;
}

.menu-item p {
    font-size: 2rem;
    /*text-transform: uppercase;*/
}

.info-box h3 {
    font-size: 1.5rem;
}

.info-box p {
    font-size: 1rem;
}
/* ------------------------ */

.main-stats h1 {
    /*align-items: center;*/
    font-size: 3rem;
    /*text-transform: uppercase;*/
    font-weight: bold;
    color: black;
}

.main-stat-box {
    height: 140px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--interface-color);
    /*border-color: red;*/
    transition: background-color .3s;
    color: black;
}

.main-stat-box:hover {
    /*background-color: rgba(255, 255, 255, .08);*/
    background-color: var(--background-color);
}

.main-stat-box h3 {
    margin-bottom: 1em;
    font-size: 1.6rem;
    /*text-transform: uppercase;*/
    font-weight: bold;
}

.main-stat-box p {
    font-size: 1rem;
}
