<!-- templates/netos/loginWeb.html -->
<html>
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'resources/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'netos/style.css' %}"/>
    <title>NetOS</title>
</head>
<body>
{% if not user.is_authenticated %}

    <meta http-equiv="refresh" content="0; url=/login"/>

{% else %}

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a href="{% url 'netos:index' %}"><img class="navbar-logo" src="/static/resources/logo.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'netos:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'netos:ip_reservation' %}">IP reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'netos:devices' %}">Devices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'netos:about' %}">About</a>
                    </li>
                </ul>
                <form class="d-flex">
                          <span class="navbar-text">
                              You're sign in as: <b>{{ user.username }}</b>
                          </span>
                    <a type="button" class="btn" href="{% url 'netos:logout' %}">Sign out</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="panel">
        <div class="row m-0 h-100">
            <div class="col-2 p-0 px-4 panel-left">
                <section class="menu text-center">
                    <a href="{% url 'netos:index' %}">
                        <div class="menu-item">
                            <i class="fas fa-sliders-h"></i>
                            <p>Home</p>
                        </div>
                    </a>
                    <a href="https://drive.google.com/file/d/1-0g0mMz9y8Y53ZbY9Xlwb7sI5ajAp8ry/view?usp=sharing">
                        <div class="menu-item">
                            <i class="far fa-comments"></i>
                            <p>Topology</p>
                        </div>
                    </a>
                    <a href="https://www.skype.com/pl/">
                        <div class="menu-item">
                            <i class="fas fa-user-friends"></i>
                            <p>Users Chat</p>
                        </div>
                    </a>
                </section>
                <section class="info-box text-light text-center mt-3">
                    <h3>NetOS</h3>
                    <p class="text-white">&copy; Copyright 2021</p>
                </section>
            </div>
            <div class="col-10 p-0 panel-right">
                <div class="col-10 mt-0 in-panel-right">
                    <section class="main-stats py-4 px-5 text-center">
                    <h1 class="mb-5">Devices</h1>
                        {% for dev in devicesPageid %}
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="main-stats-box p-5">
                                        <p><a href = "{{ dev.id }}">{{ dev.name }} </a> </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </div>
            </div>

        </div>
    </div>
{% endif %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous">
</script>
</html>