<!-- templates/netos/loginWeb.html -->
<html>
  <head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'netos/style.css' %}"/>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">
  </head>
  <body>
    <h1>Witaj w aplikacji netOS!</h1>

    <h2>Logowanie użytkownika</h2>
    {% if not user.is_authenticated %}

        <div class="form-group">
            <form action="." method="POST">
            {% csrf_token %}
    {#        {{ form.as_p }}#}

              <div class="form-group">
                  <input type="text" class="form-control" name="username" placeholder="Nazwa użytkownika">
              </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Hasło">
            </div>


                <button type="submit">Zaloguj</button>
          </form>
        </div>

    {% else %}
      <p>Jesteś już zalogowany jako {{ user.username }}</p>
        <ul>
        <li><a href="{% url 'netos:index'%}">Strona główna</a></li>
      </ul>
    {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
          crossorigin="anonymous">
  </script>
  </body>
</html>